[Unit]
Description=Eterban API service
After=network.target eterban.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/eterban/eterban_api.py
Restart=always
RestartSec=5
RestartPreventExitStatus=78
NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=full
UMask=0077

[Install]
WantedBy=multi-user.target
