[Unit]
Description=Eterban API service
After=network.target eterban.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/eterban/eterban_api.py
Restart=always
RestartSec=5
RestartPreventExitStatus=78

[Install]
WantedBy=multi-user.target
