[Unit]
Description=eterban switcher
After=syslog.target network.target

[Service]
Restart=always
ExecStart=/usr/share/eterban/eterban_switcher.py

[Install]
WantedBy=multi-user.target
